
/* Controls
------------------------ */
.control{
    grid-area: controls;
    display: grid;
    grid-template-columns: 250px 100px;
    grid-template-rows: 55px 25px;
}
.control .title {
    grid-area: 1 / 1 / 1 / 3;
}

#todo-create-text {

}

/* Todo-list
------------------------ */

.todo-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px;
    gap: 10px;
    background-color: grey;
}

/* Todo */

.todo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.todo-text {

}

.todo-badge {
    justify-self: center;
    align-self: center;
}
.todo-badge:hover {
    cursor: pointer;
}

/* Badge */

.badge,
.badge-doing,
.badge-done {
    padding: 10px 15px;
    border-radius: 10px;
}

.badge {
    background-color: #FFF;
}
.badge-doing {
    background-color: yellow;
}

.badge-done {
    background-color: green;
}

/* Three Columns */

.three-columns {
    display: grid;
    gap: 15px;
    width: 100%;
    grid-template-columns: auto auto auto;
}