:root {
    --side-padding: 0 20px;
}

body {
    margin: 0;
    padding: 0;
}

.top-link {
    display: inline-block;
    margin: 10px 0px;
    padding: var(--side-padding);
}

/* Controls
------------------------ */
.control{
    grid-area: controls;
    display: grid;
    grid-template-columns: 250px 100px;
    grid-template-rows: 55px 25px;
    padding: var(--side-padding);
}
.control .title {
    grid-area: 1 / 1 / 1 / 3;
}

#todo-create-text {

}

/* Todo-list
------------------------ */

.todo-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 190px;
    gap: 20px;
    padding: var(--side-padding);
}

/* Todo */
.todo-wrap {
    filter: drop-shadow(-2px -2px 2px rgb(117, 117, 117));
}

.todo {
    display: grid;
    grid-template-columns: auto auto 70px;
    gap: 10px;
    padding: 10px;
    clip-path: polygon(5.58% 0, 100% 0%, 100% 100%, 0px 100%, 0 36%);
    background-color: white;
    height: 100%;
}

.todo-text {

}

.todo-badge {
    align-self: center;
    justify-self: end;
}
.todo-badge:hover {
    cursor: pointer;
}

/* Badge */

.badge,
.badge-doing,
.badge-done {
    padding: 10px 15px;
    border-radius: 10px;
}

.badge {
    background-color: #FFF;
}
.badge-doing {
    background-color: yellow;
}

.badge-done {
    background-color: green;
}

/* Three Columns */

.three-columns {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    padding: var(--side-padding);
}